[submodule "backend"] 
  path = backend 
  url = https://github.com/Milosz981998/Calculator-backend.git
[submodule "frontend"] 
  path = frontend 
  url = https://github.com/Milosz981998/Calculator-frontend.git